@mixin border($color) {
    border: 2px solid $color;
}

@mixin flex($direction) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: $direction;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100vw;
    padding-left: 20vw;
    overflow-x: hidden;
}

// CLASSESS
.circle {
    border-radius: 50%;
    overflow: hidden;
}

h1,
a{
    font-family: "./Assets/fonts/Robot slab/RobotoSlab-Medium.ttf";
}

p {
    font-family: "./Assets/fonts/open sans/OpenSans-Bold.ttf";
}

header {
    width: 80vw;
    min-height: 100vh;
    // background-image: url('./Assets/Images/photo_2021-02-06_14-03-19-removebg-preview.png');
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: right;
    h1 {
        font-size: 72px;
        font-weight: 700;
    }
    p {
        font-size: 32px;
    }
}

nav {
    position: fixed;
    width: 20vw;
    min-width: 200px;
    height: 100vh;
    left: 0;
    top: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    width: 80vw;
    min-height: 100vh;
    h1 {
        font-size: 48px;
        font-weight: bold;
    }
}

.skill-box {
    display : flex;
    align-items: flex-start;
    flex-direction : column;
    .rect-box{
        position : relative;
        padding : 10px 0;
        width : 100%;
        span{
            position : absolute;
            height : 100%;
            background : #0d6efd;
            left : 0;
            top : 0;
        }
    }

    .circle-box{
        $dim : 100px;
        $percent : attr(data-filled);
        width : $dim;
        height : $dim;
        border-radius : 50%;
        display : flex;
        align-self: center;
        align-items: center;
        justify-content: center;

        span{
            $pad : 20px;
            position : absolute;
            width : $dim - $pad !important;
            height : $dim - $pad;
            border-radius : 50%;
            background : white;
            // border : 1px solid #0d6efd;
            z-index : 5;
        }

        &::before{
            content : attr(data-filled);
            position : absolute;
            width : $dim;
            height : $dim;
            border-radius : 50%;
            z-index : 10;
            display : grid;
            place-items : center;
        }
    }
}
